
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CiudadesListServlet</servlet-name>
  	<display-name>CiudadesListServlet</display-name>
  	<description></description>
  	<servlet-class>com.rita.CiudadesListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CiudadListServlet</servlet-name>
  	<display-name>CiudadListServlet</display-name>
  	<description></description>
  	<servlet-class>com.rita.controllers.CiudadListServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CountryLanguageServlet</display-name>
  	<servlet-name>CountryLanguageServlet</servlet-name>
  	<servlet-class>com.rita.controllers.CountryLanguageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CityEditarServlet</display-name>
  	<servlet-name>CityEditarServlet</servlet-name>
  	<servlet-class>com.rita.controllers.CityEditarServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CiudadesCrearServlet</display-name>
  	<servlet-name>CiudadesCrearServlet</servlet-name>
  	<servlet-class>com.rita.controllers.CiudadesCrearServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CityBorrarServlet</display-name>
  	<servlet-name>CityBorrarServlet</servlet-name>
  	<servlet-class>com.rita.controllers.CityBorrarServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListaPaisesServlet</display-name>
  	<servlet-name>ListaPaisesServlet</servlet-name>
  	<servlet-class>com.rita.controllers.ListaPaisesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CiudadesListServlet</servlet-name>
  	<url-pattern>/CiudadesListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CiudadListServlet</servlet-name>
  	<url-pattern>/CiudadListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountryLanguageServlet</servlet-name>
  	<url-pattern>/CountryLanguageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityEditarServlet</servlet-name>
  	<url-pattern>/CityEditarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CiudadesCrearServlet</servlet-name>
  	<url-pattern>/CiudadesCrearServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityBorrarServlet</servlet-name>
  	<url-pattern>/CityBorrarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaPaisesServlet</servlet-name>
  	<url-pattern>/ListaPaisesServlet</url-pattern>
  </servlet-mapping>
</web-app>
